@model DoAn_TranTheAnh_2020607026.Product

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/LayoutAdmin.cshtml";
}
<style>

    .nut a {
        display: inline-block;
        text-align: center;
        padding: 5px 15px;
        border: 1px solid #ccc;
        border-radius: 5px;
        margin-bottom: 5px;
        color: black;
        background-color: #fff;
        text-decoration: none;
        &:hover

    {
        color: #fff;
        background-color: #000;
    }

    &:active {
        background-color: #ddd;
    }
    }
</style>

@using (Html.BeginForm("Edit", "Products", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

<div class="form-horizontal" >
    <h4>Product</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.ProductID)

    <div class="form-group" style=" margin-top:10px; height:50px; font-weight:bold;">
        @Html.LabelFor(model => model.ProductName, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.ProductName, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.ProductName, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group" style=" margin-top:10px; height:50px; font-weight:bold;">
        @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group" style=" margin-top:10px; height:50px; font-weight:bold;">
        @Html.LabelFor(model => model.Price, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Price, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Price, "", new { @class = "text-danger" })
        </div>
    </div>


    <div class="form-group" style=" margin-top:10px; height:50px; font-weight:bold;">
        @Html.LabelFor(model => model.QuantityInStock, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.QuantityInStock, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.QuantityInStock, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group" style=" margin-top:10px; height:50px; font-weight:bold;">
        @Html.LabelFor(model => model.CategoryID, "CategoryID", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownList("CategoryID", null, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.CategoryID, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group" style=" margin-top:10px; height:50px; font-weight:bold;">
        @Html.LabelFor(model => model.BrandID, "BrandID", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownList("BrandID", null, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.BrandID, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group" style=" margin-top:10px; height:50px; font-weight:bold;">
        @Html.LabelFor(model => model.Images, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <img id="output" style="width: 100px; height:120px" src="~/assets/images/product/@Model.Images" />
            <input name="ImageFile" type="file" onchange="LoadFile(event)" />
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" style="background-color:chartreuse; margin-top:100px;" value="Save" class="btn btn-default" />
        </div>
    </div>
    
</div>
    }
<div class="nut" >
    @Html.ActionLink("Back to List", "Index")
</div>

<script>
    var LoadFile = function (event) {
        var image = document.getElementById("output");
        image.src = URL.createObjectURL(event.target.files[0]);
    };
</script>
