﻿﻿﻿@using PagedList.Mvc;
@using PagedList;
@model IPagedList<DoAnNguyenVanTruong.Models.Slide>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/LayoutAdmin.cshtml";
}
<div class="main-content-inner">
    <!-- main-content-wrap -->
    <div class="main-content-wrap">
        <div class="flex items-center flex-wrap justify-between gap20 mb-27">
            <h3>Danh sách Banner</h3>
            <ul class="breadcrumbs flex items-center flex-wrap justify-start gap10">
                <li>
                    <a href="@Url.Action("Dashboard","Admin")"><div class="text-tiny">Trang chủ</div></a>
                </li>
                <li>
                    <i class="icon-chevron-right"></i>
                </li>
                <li>
                    <a href="@Url.Action("Index","Slides")"><div class="text-tiny">Banner</div></a>
                </li>
                <li>
                    <i class="icon-chevron-right"></i>
                </li>
                <li>
                    <div class="text-tiny">Danh sách Banner</div>
                </li>
            </ul>
        </div>
        <!-- all-category -->
        <div class="wg-box">
            <div class="flex items-center justify-between gap10 flex-wrap">
                <div class="wg-filter flex-grow">
                    <a class="tf-button style-1 w208" href="@Url.Action("Create","Slides")"><i class="icon-plus"></i>Thêm mới</a>

                </div>

            </div>
            <div class="wg-table table-all-category">
                <ul class="table-title flex gap20 mb-14" style="min-width:151px;">
                    <li>
                        <div class="body-title">Banner</div>
                    </li>
                    <li>
                        <div class="body-title"></div>
                    </li>
                    <li>
                        <div class="body-title">Hành động</div>
                    </li>
                </ul>
                <ul class="flex flex-column" style="min-width:151px;">
                    @foreach (var item in Model)
                    {
                        <li class="product-item gap14">
                            <div class="image no-bg">
                                <img src="~/assets/images/slide/@item.Images" alt="" style="width: 50px; height: 50px">
                            </div>
                            <div class="flex items-center justify-between gap20 flex-grow">
                                <div class="name">

                                </div>
                                <div class="list-icon-function">
                                    <div class="item eye">
                                        <a href="@Url.Action("Details", "Slides", new {id=item.SlideID})">
                                            <i class="icon-eye"></i>
                                        </a>
                                    </div>
                                    <div class="item edit">
                                        <a href="@Url.Action("Edit", "Slides", new {id=item.SlideID})">
                                            <i class="icon-edit-3"></i>
                                        </a>
                                    </div>
                                    <div class="item trash">
                                        <a href="@Url.Action("Delete", "Slides", new {id=item.SlideID})">
                                            <i class="icon-trash-2"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </li>
                    }


                </ul>
            </div>
            <div class="divider"></div>
            <div class="flex items-center justify-between flex-wrap gap10">
                <div class="text-tiny"></div>
                <ul class="wg-pagination">
                    @Html.PagedListPager(Model, page => Url.Action("Index", new { page, PageSize = 8 }))
                </ul>
            </div>
        </div>
        <!-- /all-category -->
    </div>
    <!-- /main-content-wrap -->
</div>
<div class="bottom-page">
    <div class="body-text">Copyright © 2024 Mobile</div>
    <i class="icon-heart"></i>
</div>