@model DoAnNguyenVanTruong.ViewModel.ProductDetailViewModel
@{
    ViewBag.Title = "Chi tiết sản phẩm";
    Layout = "~/Views/Shared/LayoutPage.cshtml";
}

<!-- Start Bradcaump area -->
<div class="ht__bradcaump__area bg-image--6" style="background-image: url('/assets/images/logo/bradcaump5.jpg') !important; background-repeat: no-repeat; background-size: cover; background-position: center center; }">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="bradcaump__inner text-center">
                    <h2 class="bradcaump-title" style="color: #333 !important">Sản phẩm</h2>
                    <nav class="bradcaump-content">
                        <a class="breadcrumb_item" href="/Page/Index" style="color: #333 !important">Trang chủ</a>
                        <span class="brd-separetor" style="color: #333 !important">/</span>
                        <span class="breadcrumb_item active">Sản phẩm</span>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Bradcaump area -->
<!-- Start main Content -->
<div class="maincontent bg--white pt--80 pb--55">
    <div class="container">
        <div class="row">
            <div class="col-lg-9 col-12">
                <div class="wn__single__product">
                    <div class="row">
                        <div class="col-lg-6 col-12">
                            <div class="wn__fotorama__wrapper">
                                <div class="fotorama wn__fotorama__action" data-nav="thumbs">
                                    <img src="~/assets/images/product/@Model.Product.Images" alt="">
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-12">
                            <div class="product__info__main">
                                <h1>@Model.Product.ProductName</h1>
                                <div class="product-reviews-summary d-flex">
                                    <ul class="rating-summary d-flex">
                                        <li><i class="zmdi zmdi-star-outline"></i></li>
                                        <li><i class="zmdi zmdi-star-outline"></i></li>
                                        <li><i class="zmdi zmdi-star-outline"></i></li>
                                        <li class="off"><i class="zmdi zmdi-star-outline"></i></li>
                                        <li class="off"><i class="zmdi zmdi-star-outline"></i></li>
                                    </ul>
                                </div>
                                <div class="price-box">
                                    <span>@String.Format("{0:0,0 đ}", @Model.Product.newprice(@Model.Product.Price, @Model.Product.SaleOff))</span>
                                </div>
                                <div class="product__overview">
                                    <p>@Model.Product.Description</p>
                                </div>
                                <div class="box-tocart d-flex">
                                    <span>Qty</span>
                                    <input id="qty" class="input-text qty" name="qty" min="1" value="1" title="Qty" type="number">
                                    <div class="addtocart__actions">
                                        <button class="tocart" type="submit" onclick="addToCartDetailProduct(event, @Model.Product.ProductID, '@Html.AttributeEncode(@Model.Product.ProductName)')" title="Add to Cart">Add to Cart</button>
                                    </div>
                                    <div class="product-addto-links clearfix">
                                        <a class="wishlist" href="#"></a>
                                        <a class="compare" href="#"></a>
                                    </div>
                                </div>
                                <div class="product_meta">
                                    <span class="posted_in">
                                        Hạng mục:
                                        <a class="ml-2" href="@Url.Action("Details", "Categories", new {id=Model.Product.CategoryID})">@Model.Product.Category.CategoryName</a>
                                    </span>
                                </div>
                                <div class="product-share">
                                    <ul>
                                        <li class="categories-title">Share :</li>
                                        <li>
                                            <a href="#">
                                                <i class="icon-social-twitter icons"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <i class="icon-social-tumblr icons"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <i class="icon-social-facebook icons"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <i class="icon-social-linkedin icons"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="product__info__detailed">
                    <div class="pro_details_nav nav justify-content-start" role="tablist">
                        <a class="nav-item nav-link active" data-toggle="tab" href="#nav-details" role="tab">Thông số</a>
                    </div>
                    <div class="tab__container">
                        <!-- Start Single Tab Content -->
                        <div class="pro__tab_label tab-pane fade show active" id="nav-details" role="tabpanel">
                            <table border="0">
                                <tr>
                                    <th>Tên</th>
                                    <td>@Model.Product.ProductName</td>
                                </tr>

                                <tr>
                                    <th>Hệ điều hành</th>
                                    <td>@Model.Product.Os</td>
                                </tr>
                                <tr>
                                    <th>RAM</th>
                                    <td>@Model.Product.RAM</td>
                                </tr>
                                <tr>
                                    <th>CPU</th>
                                    <td>@Model.Product.CPU</td>
                                </tr>

                                <tr>
                                    <th>Bộ nhớ</th>
                                    <td>@Model.Product.Storage</td>
                                </tr>
                                <tr>
                                    <th>Màn hình</th>
                                    <td>@Model.Product.DisplaySize</td>
                                </tr>
                                <tr>
                                    <th>Pin</th>
                                    <td>@Model.Product.BatteryCharge</td>
                                </tr>

                            </table>
                        </div>
                        <!-- End Single Tab Content -->
                    </div>
                </div>
                <div class="wn__related__product pt--80 pb--50">
                    <div class="section__title text-center">
                        <h2 class="title__be--2">Các sản phẩm liên quan</h2>
                    </div>
                    <div class="row mt--60">
                        <div class="productcategory__slide--2 arrows_style owl-carousel owl-theme">
                            @foreach (var product in Model.RelatedProducts)
                            {
                                <!-- Start Single Product -->
                                <div class="product product__style--3 col-lg-4 col-md-4 col-sm-6 col-12">
                                    <div class="product__thumb">
                                        <a class="first__img" href="@Url.Action("DetailProduct", "Page", new { productId = product.ProductID })"><img src="~/assets/images/product/@product.Images" alt="product image"></a>
                                        @if (product.SaleOff != 0)
                                        {
                                            <div class="hot__box">
                                                <span class="hot-label">SALE</span>
                                            </div>
                                        }
                                    </div>
                                    <div class="product__content content--center">
                                        <h4><a href="@Url.Action("DetailProduct", "Page", new { productId = product.ProductID })">@product.ProductName</a></h4>
                                        <ul class="prize d-flex">
                                            <li>@String.Format("{0:0,0 đ}", @Model.Product.newprice(@Model.Product.Price, @Model.Product.SaleOff))</li>
                                            <li class="old_prize">@String.Format("{0:0,0 đ}", @Model.Product.Price)</li>
                                        </ul>
                                        <div class="action">
                                            <div class="actions_inner">
                                                <ul class="add_to_links">
                                                    <li><a class="cart" href="cart.html"><i class="bi bi-shopping-bag4"></i></a></li>
                                                    <li><a class="wishlist" href="wishlist.html"><i class="bi bi-shopping-cart-full"></i></a></li>
                                                    <li><a class="compare" href="#"><i class="bi bi-heart-beat"></i></a></li>
                                                    <li><a data-toggle="modal" title="Quick View" class="quickview modal-view detail-link" href="#productmodal"><i class="bi bi-search"></i></a></li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="product__hover--content">
                                            <ul class="rating d-flex">
                                                <li class="on"><i class="fa fa-star-o"></i></li>
                                                <li class="on"><i class="fa fa-star-o"></i></li>
                                                <li class="on"><i class="fa fa-star-o"></i></li>
                                                <li><i class="fa fa-star-o"></i></li>
                                                <li><i class="fa fa-star-o"></i></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <!-- Start Single Product -->
                            }


                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-12 md-mt-40 sm-mt-40">
                <div class="shop__sidebar">
                    <aside class="wedget__categories poroduct--tag">
                        <h3 class="wedget__title">Danh sách hãng điện thoại</h3>
                        <ul>
                            @foreach (var Category in Model.Categories)
                            {
                                <li><a href="@Url.Action("GridShop", "Page", new { categoryId = Category.CategoryID })">@Category.CategoryName <span>(@Category.Products.Count())</span></a></li>
                            }
                        </ul>
                    </aside>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End main Content -->

@if (Model.RecommendedProducts != null)
{
    <!-- Recommended Products Section -->
    <section class="wn__product__area brown--color pt--80 pb--30">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section__title text-center">
                        <h2 class="title__be--2">Sản phẩm <span class="color--theme">Đề Xuất</span></h2>
                    </div>
                </div>
            </div>
            <div class="furniture--4 border--round arrows_style owl-carousel owl-theme row mt--50">
                @foreach (var product in Model.RecommendedProducts)
                {
                    <div class="product product__style--3">
                        <div class="col-lg-3 col-md-4 col-sm-6 col-12">
                            <div class="product__thumb">
                                <a class="first__img" href="@Url.Action("DetailProduct","Page",new {productId = product.ProductID})">
                                    <img src="~/assets/images/product/@product.Images" alt="product image" />
                                </a>
                                @if (product.SaleOff > 0)
                                {
                                    <div class="hot__box">
                                        <span class="hot-label">SALE</span>
                                    </div>
                                }
                            </div>
                            <div class="product__content content--center">
                                <h4>
                                    <a href="@Url.Action("DetailProduct","Page",new {productId = product.ProductID})">
                                        @product.ProductName
                                    </a>
                                </h4>
                                <ul class="prize d-flex">
                                    <li>@String.Format("{0:0,0 đ}", product.newprice(product.Price, product.SaleOff))</li>
                                    @if (product.SaleOff > 0)
                                    {
                                        <li class="old_prize">@String.Format("{0:0,0 đ}", product.Price)</li>
                                    }
                                </ul>
                                <div class="action">
                                    <div class="actions_inner">
                                        <ul class="add_to_links">
                                            <li><a class="cart" onclick="addToCart(event, @product.ProductID, '@Html.AttributeEncode(product.ProductName)', 1)"><i class="bi bi-shopping-bag4"></i></a></li>
                                            <li><a data-toggle="modal" title="Quick View" class="quickview modal-view detail-link" href="#productmodal" onclick="openModal(event, @product.ProductID)"><i class="bi bi-search"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </section>
}


<script>

    function addToCartDetailProduct(event, productId, productName) {
        var quantity = $('#qty').val();
        $.ajax({
            url: '@Url.Action("AddItemToCartWithQuantity", "Cartbuy")',
            type: 'POST',
            data:
            {
                id: productId,
                qty: quantity
            },
            success: function (result) {
                if (result.message === "user havent logged in") {
                    alert('Hãy thực hiện đăng nhập trước');
                    window.location.href = "/Page/Login"; // Sửa lại vị trí href
                } else {
                    // Cập nhật số lượng giỏ hàng
                    alert('Thêm sản phẩm ' + productName + ' số lượng ' + quantity + ' vào giỏ hàng thành công');
                    $('#cart-count').text(result.cartItemCount);
                }
            },
            error: function () {
                alert("Có lỗi xảy ra khi thêm sản phẩm vào giỏ hàng.");
            }
        });
    }

</script>