@model DoAnNguyenVanTruong.Models.Product_Size

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/LayoutAdmin.cshtml";
}
<div class="main-content-inner">
    <!-- main-content-wrap -->
    <div class="main-content-wrap">
        <div class="flex items-center flex-wrap justify-between gap20 mb-27">
            <h3>Nhập kho</h3>
            <ul class="breadcrumbs flex items-center flex-wrap justify-start gap10">
                <li>
                    <a href="/Admin/Dashboard"><div class="text-tiny">Trang chủ</div></a>
                </li>
                <li>
                    <i class="icon-chevron-right"></i>
                </li>
                <li>
                    <a href="#"><div class="text-tiny">Quản lý</div></a>
                </li>
                <li>
                    <i class="icon-chevron-right"></i>
                </li>
                <li>
                    <div class="text-tiny">Quản lý kho</div>
                </li>
            </ul>
        </div>
        <!-- new-attribute -->
        <div class="wg-box">
            <form action="/Product_Size/Create" method="post" class="form-new-product form-style-1">
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <fieldset class="name">
                    <div class="body-title">Sản phẩm</div>
                    @Html.DropDownList("ProductID", null, htmlAttributes: new { @class = "flex-grow" })
                    @Html.ValidationMessageFor(model => model.ProductID, "", new { @class = "flex-grow" })
                </fieldset>
                @*<fieldset class="name">
                    <div class="body-title">Size</div>
                    @Html.DropDownList("SizeID", null, htmlAttributes: new { @class = "flex-grow" })
                    @Html.ValidationMessageFor(model => model.SizeID, "", new { @class = "flex-grow" })
                </fieldset>*@
                <fieldset class="name">
                    <div class="body-title">Số lượng trong kho</div>
                    <input class="flex-grow" type="text" placeholder="Số lượng trong kho" name="Quantity" tabindex="0" value="" aria-required="true" required="">
                </fieldset>
                <div class="bot">
                    <div></div>
                    <button class="tf-button w208" type="submit">Thêm mới</button>
                </div>
            </form>
        </div>
        <!-- /new-category -->
    </div>
    <!-- /main-content-wrap -->
</div>
<div class="bottom-page">
    <div class="body-text">Copyright © 2024 Mobile</div>
    <i class="icon-heart"></i>
</div>