
<!DOCTYPE html>
<html lang="en">


<!-- Mirrored from gramentheme.com/html/odor/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 25 Mar 2024 14:02:21 GMT -->
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fashion</title>
    <!-- Favicon img -->
    <link rel="shortcut icon" href="~/assets/images/logo.jpg">
    <!-- Bootstarp min css -->
    <link rel="stylesheet" href="~/assets/css/bootstrap.min.css">
    <!-- All min css -->
    <link rel="stylesheet" href="~/assets/css/all.min.css">
    <!-- Swiper bundle min css -->
    <link rel="stylesheet" href="~/assets/css/swiper-bundle.min.css">
    <!-- Magnigic popup css -->
    <link rel="stylesheet" href="~/assets/css/magnific-popup.css">
    <!-- Animate css -->
    <link rel="stylesheet" href="~/assets/css/animate.css">
    <!-- Nice select css -->
    <link rel="stylesheet" href="~/assets/css/nice-select.css">
    <!-- Style css -->
    <link rel="stylesheet" href="~/assets/css/style.css">
</head>

<body>
    <!-- Header area start here -->
    <div class="top__header pt-30 pb-30">
        <div class="container">
            <div class="top__wrapper">
                <a href="@Url.Action("Index","Page")" class="main__logo">
                    <img style="margin-right: 82px; width: 68px; height: 44px; display: block; outline: none; border-radius:10px;" src="~/assets/images/logo.jpg" alt="logo__image">
                </a>
                <div class="search__wrp">
                    <input placeholder="Search for" aria-label="Search">
                    <button><i class="fa-solid fa-search"></i></button>
                </div>
                <a>Đăng nhập</a>
                <div class="account__wrap">
                    <div class="account d-flex align-items-center">
                        <div class="user__icon">
                            <a href="#0">
                                <i class="fa-regular fa-user"></i>
                            </a>
                        </div>
                            <a href="@Url.Action("Login", "Page")" class="acc__cont">
                                <span> My Account </span>
                            </a>
                         </div>
                    <div class="cart d-flex align-items-center" style="width: 77px; align-content:center;">
                       
                        <span class="cart__icon" style="align-items: center;">
                            <i class="fa-regular fa-cart-shopping"></i>
                        </span>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <header class="header-section">
        <div class="container">
            <div class="header-wrapper">
                <div class="header-bar d-lg-none">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
                <ul class="main-menu">
                    <a href="@Url.Action("Index","Page")" style="margin-right: 20px;">Home <i class="fa-regular "></i></a>
                    <li>
                        <a href="#0">Đồ Nam <i class="fa-regular fa-angle-down"></i></a>
                        <ul class="sub-menu">
                            <li class="subtwohober">
                                <a href="@Url.Action("Index","Products")">
                                    Áo phông
                                </a>
                            </li>
                            <li class="subtwohober">
                                <a href="shop.html">
                                    Sơ mi
                                </a>
                            </li>
                            <li class="subtwohober">
                                <a href="shop-2.html">
                                    Áo Polo
                                </a>
                            </li>
                            <li class="subtwohober">
                                <a href="shop-single.html">
                                    Quần Short
                                </a>
                            </li>
                            <li class="subtwohober">
                                <a href="cart.html">
                                    Quần Jean
                                </a>
                            </li>

                        </ul>
                    </li>
                    <li>
                        <a href="#0">Đồ Nữ <i class="fa-regular fa-angle-down"></i></a>
                        <ul class="sub-menu">
                            <li class="subtwohober">
                                <a href="blog.html">
                                    Áo phông
                                </a>
                            </li>
                            <li class="subtwohober">
                                <a href="blog-grid.html">
                                    Váy
                                </a>
                            </li>
                            <li class="subtwohober">
                                <a href="blog-list.html">
                                    Quần Jean
                                </a>
                            </li>
                            <li class="subtwohober">
                                <a href="blog-single.html">
                                    Chân váy
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="contact.html">Contact</a>
                    </li>
                </ul>
                <div class="shipping__item d-none d-sm-flex align-items-center">
                    <div class="menu__right d-flex align-items-center">
                        <div class="thumb">
                            <img src="~/assets/images/flag/picking.png" alt="image">
                        </div>
                        <div class="content">
                            <a href="#">
                                <strong>
                                    Danh sách cửa hàng
                                </strong>
                            </a>
                        </div>
                    </div>
                    <div class="menu__right d-flex align-items-center">
                        <div class="thumb">
                            <img src="~/assets/images/flag/shipping.png" alt="image">
                        </div>
                        <div class="content">
                            <p>
                                Free Shipping <br> Cho đơn hàng <strong>trên 500.000</strong>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- Header area end here -->
    <!-- Preloader area start -->
    <div class="loading">
        <span class="text-capitalize">L</span>
        <span>o</span>
        <span>a</span>
        <span>d</span>
        <span>i</span>
        <span>n</span>
        <span>g</span>
    </div>

    <div id="preloader">
    </div>
    <!-- Preloader area end -->
    <!-- Mouse cursor area start here -->
    <div class="mouse-cursor cursor-outer"></div>
    <div class="mouse-cursor cursor-inner"></div>
    <!-- Mouse cursor area end here -->
    <main>
        <section class="banner-two">

            <div class="swiper banner-two__slider">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="slide-bg">
                            <img style="object-fit:contain; max-height:100%;max-width:100%;" src="~/assets/images/banner/banner1.jpg" />
                        </div>
                        <div class="container">
                            <div class="banner-two__content">
                                <h4 data-animation="fadeInUp" data-delay="1s">
                                    <img src="~/assets/images/icon/fire.svg"
                                         alt="icon"> GET <span class="primary-color">25% OFF</span> NOW
                                </h4>
                                <h1 data-animation="fadeInUp" data-delay="1.3s">
                                    Find everything <br>
                                    for <span class="primary-color">Fashion</span>
                                </h1>
                                <p class="mt-40" data-animation="fadeInUp" data-delay="1.5s">
                                    Thời trang hiện đại
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="slide-bg">
                            <img style=" object-fit: contain; max-height: 100%; max-width: 100%;" src="~/assets/images/banner/banner2.jpg" />
                        </div>
                        <div class="container">
                            <div class="banner-two__content">
                                <h4 data-animation="fadeInUp" data-delay="1s">
                                    <img src="~/assets/images/icon/fire.svg"
                                         alt="icon"> GET <span class="primary-color">25% OFF</span> NOW
                                </h4>
                                <h1 data-animation="fadeInUp" data-delay="1.3s">
                                    Find everything <br>
                                    for <span class="primary-color">Fashion</span>
                                </h1>
                                <p class="mt-40" data-animation="fadeInUp" data-delay="1.5s">
                                    Thời trang hiện đại
                                </p>
                            </div>
                        </div>

                    </div>
                    <div class="swiper-slide">
                        <div class="slide-bg">
                            <img style="object-fit:contain; max-height:100%; max-width:100%;" src="~/assets/images/banner/banner3.jpg" />
                        </div>
                        <div class="container">
                            <div class="banner-two__content">
                                <h4 data-animation="fadeInUp" data-delay="1s">
                                    <img src="~/assets/images/icon/fire.svg"
                                         alt="icon"> GET <span class="primary-color">25% OFF</span> NOW
                                </h4>
                                <h1 data-animation="fadeInUp" data-delay="1.3s">
                                    Find everything <br>
                                    for <span class="primary-color">Fashion</span>
                                </h1>
                                <p class="mt-40" data-animation="fadeInUp" data-delay="1.5s">
                                    Thời trang hiện đại
                                </p>


                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </section>
        @RenderBody();
    </main>
  

    <!-- Footer area start here -->
    <footer class="footer-area bg-image" data-background="~/assets/images/footer/footer-bg.jpg">
        <div class="container">
            <div class="footer__wrp pt-65 pb-65 bor-top bor-bottom">
                <div class="row g-4">
                    <div class="col-xl-3 col-lg-6 col-md-6 wow fadeInUp" data-wow-duration="1.1s" data-wow-delay=".1s">
                        <div class="footer__item">
                            <h4 class="footer-title">Customer Service</h4>
                            <ul>
                                <li><a href="contact.html"><span></span>Help Portal</a></li>
                                <li><a href="contact.html"><span></span>Contact Us</a></li>
                                <li><a href="error.html"><span></span>Delivery Information</a></li>
                                <li><a href="error.html"><span></span>Click and Collect</a></li>
                                <li><a href="error.html"><span></span>Refunds and Returns</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-6 col-md-6 wow fadeInUp" data-wow-duration="1.2s" data-wow-delay=".2s">
                        <div class="footer__item">
                            <h4 class="footer-title">Get to Know Us</h4>
                            <ul>
                                <li><a href="about.html"><span></span>About Us</a></li>
                                <li><a href="blog-grid.html"><span></span>News & Blog</a></li>
                                <li><a href="error.html"><span></span>Careers</a></li>
                                <li><a href="error.html"><span></span>Investors</a></li>
                                <li><a href="contact.html"><span></span>Contact Us</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-6 col-md-6 wow fadeInUp" data-wow-duration="1.3s" data-wow-delay=".3s">
                        <div class="footer__item">
                            <h4 class="footer-title">vapes new collections</h4>
                            <ul>
                                <li><a href="shop.html"><span></span>E-Cigarettes</a></li>
                                <li><a href="shop.html"><span></span>Vape Pens</a></li>
                                <li><a href="shop.html"><span></span>Pod Systems</a></li>
                                <li><a href="shop.html"><span></span>Disposable Vapes</a></li>
                                <li><a href="shop.html"><span></span>Nicotine Salt Devices</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-6 col-md-6 wow fadeInUp" data-wow-duration="1.4s" data-wow-delay=".4s">
                        <div class="footer__item newsletter">
                            <h4 class="footer-title">get newsletter</h4>
                            <div class="subscribe">
                                <input type="email" placeholder="Your Email">
                                <button><i class="fa-solid fa-paper-plane"></i></button>
                            </div>
                            <div class="social-icon mt-40">
                                <a href="#0"><i class="fa-brands fa-facebook-f"></i></a>
                                <a href="#0"><i class="fa-brands fa-twitter"></i></a>
                                <a href="#0"><i class="fa-brands fa-linkedin-in"></i></a>
                                <a href="#0"><i class="fa-brands fa-youtube"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer__copy-text pt-50 pb-50">
                <a href="index.html" class="logo d-block">
                    <img style="width:80%; height:80%; border-radius:10px;" src="~/assets/images/logo.jpg" alt="logo">
                </a>
                <p>&copy; Copyright 2023 <a href="#0" class="primary-hover">Fashion</a> All Rights Reserved</p>
                <a href="#0" class="payment d-block image">
                    <img src="~/assets/images/icon/payment.png" alt="icon">
                </a>
            </div>
        </div>
    </footer>
    <!-- Footer area end here -->
    <!-- Back to top area start here -->
    <div class="scroll-up">
        <svg class="scroll-circle svg-content" width="100%" height="100%" viewBox="-1 -1 102 102">
            <path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98" />
        </svg>
    </div>
    <!-- Back to top area end here -->
    <!-- Jquery 3. 7. 1 Min Js -->
    <script src="~/assets/js/jquery-3.7.1.min.js"></script>
    <!-- Bootstrap min Js -->
    <script src="~/assets/js/bootstrap.min.js"></script>
    <!-- Swiper bundle min Js -->
    <script src="~/assets/js/swiper-bundle.min.js"></script>
    <!-- Counterup min Js -->
    <script src="~/assets/js/jquery.counterup.min.js"></script>
    <!-- Wow min Js -->
    <script src="~/assets/js/wow.min.js"></script>
    <!-- Magnific popup min Js -->
    <script src="~/assets/js/magnific-popup.min.js"></script>
    <!-- Nice select min Js -->
    <script src="~/assets/js/nice-select.min.js"></script>
    <!-- Pace min Js -->
    <script src="~/assets/js/pace.min.js"></script>
    <!-- Isotope pkgd min Js -->
    <script src="~/assets/js/isotope.pkgd.min.js"></script>
    <!-- Waypoints Js -->
    <script src="~/assets/js/jquery.waypoints.js"></script>
    <!-- Script Js -->
    <script src="~/assets/js/script.js"></script>

</body>


<!-- Mirrored from gramentheme.com/html/odor/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 25 Mar 2024 14:03:23 GMT -->
</html>


