@model IEnumerable<DoAnNguyenVanTruong.Models.OrderDetail>
@{
    ViewBag.Title = "DetailOrder";
    Layout = "~/Views/Shared/LayoutAdmin.cshtml";
    DoAnNguyenVanTruong.Models.Order orders = ViewBag.code;
}
<div class="main-content-inner">
    <!-- main-content-wrap -->
    <div class="main-content-wrap">
        <div class="flex items-center flex-wrap justify-between gap20 mb-27">
            <h3>Đơn hàng @orders.OrderCode </h3>
            <ul class="breadcrumbs flex items-center flex-wrap justify-start gap10">
                <li>
                    <a href="#"><div class="text-tiny">Dashboard</div></a>
                </li>
                <li>
                    <i class="icon-chevron-right"></i>
                </li>
                <li>
                    <a href="#"><div class="text-tiny">Order</div></a>
                </li>
                <li>
                    <i class="icon-chevron-right"></i>
                </li>
                <li>
                    <a href="#"><div class="text-tiny">Order detail</div></a>
                </li>
                <li>
                    <i class="icon-chevron-right"></i>
                </li>
                <li>
                    <div class="text-tiny">Order @orders.OrderCode</div>
                </li>
            </ul>
        </div>
        <!-- order-detail -->
        <div class="wg-order-detail">
            <div class="left flex-grow">
                <div class="wg-box mb-20">
                    <div class="wg-table table-order-detail">
                        <ul class="table-title flex items-center justify-between gap20 mb-24">
                            <li>
                                <div class="body-title">Sản phẩm đặt hàng</div>
                            </li>

                        </ul>
                        <ul class="flex flex-column">
                            @foreach (var item in Model)
                            {
                                <li class="product-item gap14">
                                    <div class="image no-bg">
                                        <img src="~/assets/images/product/@item.Product_Size.Product.Images" alt="">
                                    </div>
                                    <div class="flex items-center justify-between gap40 flex-grow">
                                        <div class="name">
                                            <div class="text-tiny mb-1">Tên sản phẩm</div>
                                            <a href="product-list.html" class="body-title-2">@item.Product_Size.Product.ProductName</a>
                                        </div>
                                        <div class="name">
                                            <div class="text-tiny mb-1">Số Lượng</div>
                                            <div class="body-title-2">@item.OrderQuantity</div>
                                        </div>
                                        <div class="name">
                                            <div class="text-tiny mb-1">Giá</div>
                                            <div class="body-title-2">@String.Format("{0:0,0 VND}", item.Product_Size.Product.newprice(item.Product_Size.Product.Price,item.Product_Size.Product.SaleOff))</div>
                                        </div>
                                    </div>
                                </li>
                            }


                        </ul>
                    </div>
                </div>
                <div class="wg-box">
                    <div class="wg-table table-cart-totals">
                        <ul class="table-title flex mb-24">
                            <li>
                                <div class="body-title">Các khoản cần thanh toán</div>
                            </li>
                            <li>
                                <div class="body-title">Giá</div>
                            </li>
                        </ul>
                        <ul class="flex flex-column gap14">
                            <li class="cart-totals-item">
                                <span class="body-text">Tổng tiền sản phẩm mua:</span>
                                <span class="body-title-2">@String.Format("{0:0,0 VND}", orders.OrderTotalPrice)</span>
                            </li>
                            <li class="divider"></li>
                            <li class="cart-totals-item">
                                <span class="body-text">Tiền ship:</span>
                                <span class="body-title-2">miễn phí</span>
                            </li>
                     

                            <li class="divider"></li>
                            <li class="cart-totals-item">
                                <span class="body-title">Tổng tiền:</span>
                                <span class="body-title tf-color-1">@String.Format("{0:0,0 VND}", orders.OrderTotalPrice)</span>
                            </li>

                        </ul>
                    </div>
                </div>
            </div>
            <div class="right">
                <div class="wg-box mb-20 gap10">
                    <div class="body-title">Thông tin đơn hàng</div>
                    <div class="summary-item">
                        <div class="body-text">Mã đơn hàng</div>
                        <div class="body-title-2">@orders.OrderCode</div>
                    </div>
                    <div class="summary-item">
                        <div class="body-text">Thời gian</div>
                        <div class="body-title-2">@orders.OrderDate</div>
                    </div>
                    <div class="summary-item">
                        <div class="body-text">Tổng tiền</div>
                        <div class="body-title-2 tf-color-1">@String.Format("{0:0,0 VND}", orders.OrderTotalPrice)</div>
                    </div>
                </div>
                <div class="wg-box mb-20 gap10">
                    <div class="body-title">Địa chỉ giao hàng</div>
                    <div class="body-text">@orders.Address_Delivery</div>
                </div>
                <div class="wg-box mb-20 gap10">
                    <div class="body-title">Phương thức thanh toán</div>
                    @if (orders.TypePayment == 0)
                    {
                        <div class="body-text">Thanh toán khi nhận hàng (COD)</div>
                    }
                    @if (orders.TypePayment != 0)
                    {
                        <div class="body-text">Thanh toán online</div>
                    }
                </div>
                <div class="wg-box gap10">
                    <div class="body-title">Ngày giao hàng dự kiến</div>
                    <div class="body-title-2 tf-color-2">@ViewBag.timegiao</div>
                    @if (orders.OrderStatus == "0")
                    {
                        <a class="tf-button style-1 w-full" href="@Url.Action("Confirm_Order","Admin",new {id=orders.OrderID})">Xác nhận đơn hàng</a>
                    }


                    @if ( orders.OrderStatus=="2")
                    {
                        <a class="tf-button style-1 w-full" href="@Url.Action("Ship","Admin",new {id=orders.OrderID})"><i class="icon-truck"></i>Đã giao hàng cho đơn vị vận chuyển</a>
                    }
                    
                </div>

            </div>
        </div>
        <!-- /order-detail -->
    </div>
    <!-- /main-content-wrap -->
</div>