@using PagedList.Mvc;
@using PagedList;
@model DoAnNguyenVanTruong.ViewModel.IndexViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/LayoutPage.cshtml";
}


<!-- Start Slider area -->
<div class="slider-area brown__nav slider--15 slide__activation slide__arrow01 owl-carousel owl-theme">
    @foreach (var slide in Model.Slides)
    {
        string imageUrl = Url.Content($"~/assets/images/slide/{slide.Images}");
        <!-- Start Single Slide -->
        <div class="slide animation__style10 fullscreen align__center--left" style="background-image: url('@imageUrl'); background-size: cover; background-repeat: no-repeat; background-position: center;">

        </div>
        <!-- End Single Slide -->
    }

</div>
<!-- End Slider area -->
<!-- Start BEst Seller Area -->
<section class="wn__product__area brown--color pt--80  pb--30">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section__title text-center">
                    <h2 class="title__be--2">Flash <span class="color--theme">Sales</span></h2>
                    <p>Hiện tại, các sản phẩm điện thoại thông minh như iPhone, Samsung Galaxy, và Xiaomi đang được giảm giá lên đến 50%.</p>
                </div>
            </div>
        </div>

        <!-- Start Single Tab Content -->
        <div class="furniture--4 border--round arrows_style owl-carousel owl-theme row mt--50">
            <!-- Start Single Product -->
            @foreach (var product in Model.Products)
            {
                <div class="product product__style--3">
                    <div class="col-lg-3 col-md-4 col-sm-6 col-12">
                        <div class="product__thumb">
                            <a class="first__img" href="@Url.Action("DetailProduct","Page",new {productId = product.ProductID})"><img src="~/assets/images/product/@product.Images" alt="product image"></a>
                            <div class="hot__box">
                                <span class="hot-label">@String.Format("{0}%", product.SaleOff)</span>
                            </div>
                        </div>
                        <div class="product__content content--center">
                            <h4><a href="@Url.Action("DetailProduct","Page",new {productId = product.ProductID})">@product.ProductName</a></h4>
                            <ul class="prize d-flex">
                                <li>
                                    @String.Format("{0:0,0 đ}", product.newprice(product.Price, product.SaleOff))
                                </li>
                                <li class="old_prize"> @String.Format("{0:0,0 đ}", product.Price)</li>
                            </ul>
                            <div class="action">
                                <div class="actions_inner">
                                    <ul class="add_to_links">
                                        <li><a class="cart" onclick="addToCart(event, @product.ProductID, '@Html.AttributeEncode(product.ProductName)', 1)"><i class="bi bi-shopping-bag4"></i></a></li>
                                        <li><a data-toggle="modal" title="Quick View" class="quickview modal-view detail-link" href="#productmodal" onclick="openModal(event, @product.ProductID)"><i class="bi bi-search"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="product__hover--content">
                                <ul class="rating d-flex">
                                    <li class="on"><i class="fa fa-star-o"></i></li>
                                    <li class="on"><i class="fa fa-star-o"></i></li>
                                    <li class="on"><i class="fa fa-star-o"></i></li>
                                    <li><i class="fa fa-star-o"></i></li>
                                    <li><i class="fa fa-star-o"></i></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Start Single Product -->
            }
        </div>
        <!-- End Single Tab Content -->
    </div>
</section>

<!-- Start BEst Seller Area -->
<section class="wn__product__area brown--color pt--80  pb--30">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section__title text-center">
                    <h2 class="title__be--2">Best <span class="color--theme">Seller</span></h2>
                    <p>Các sản phẩm hiện đang được bán chạy nhất tại cửa hàng điện thoại của chúng tôi</p>
                </div>
            </div>
        </div>

        <!-- Start Single Tab Content -->
        <div class="furniture--4 border--round arrows_style owl-carousel owl-theme row mt--50">
            <!-- Start Single Product -->
            @foreach (var product in Model.BestSellers)
            {
                <div class="product product__style--3">
                    <div class="col-lg-3 col-md-4 col-sm-6 col-12">
                        <div class="product__thumb">
                            <a class="first__img" href="@Url.Action("DetailProduct","Page",new {productId = product.ProductID})"><img src="~/assets/images/product/@product.Images" alt="product image"></a>
                            <div class="hot__box">
                                <span class="hot-label">HOT</span>
                            </div>
                        </div>
                        <div class="product__content content--center">
                            <h4><a href="@Url.Action("DetailProduct","Page",new {productId = product.ProductID})">@product.ProductName</a></h4>
                            <ul class="prize d-flex">
                                <li>
                                    @String.Format("{0:0,0 đ}", product.newprice(product.Price, product.SaleOff))
                                </li>
                                <li class="old_prize"> @String.Format("{0:0,0 đ}", product.Price)</li>
                            </ul>
                            <div class="action">
                                <div class="actions_inner">
                                    <ul class="add_to_links">
                                        <li><a class="cart" onclick="addToCart(event, @product.ProductID, '@Html.AttributeEncode(product.ProductName)', 1)"><i class="bi bi-shopping-bag4"></i></a></li>
                                        <li><a data-toggle="modal" title="Quick View" class="quickview modal-view detail-link" href="#productmodal" onclick="openModal(event, @product.ProductID)"><i class="bi bi-search"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="product__hover--content">
                                <ul class="rating d-flex">
                                    <li class="on"><i class="fa fa-star-o"></i></li>
                                    <li class="on"><i class="fa fa-star-o"></i></li>
                                    <li class="on"><i class="fa fa-star-o"></i></li>
                                    <li><i class="fa fa-star-o"></i></li>
                                    <li><i class="fa fa-star-o"></i></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Start Single Product -->
            }
        </div>
        <!-- End Single Tab Content -->
    </div>
</section>

<!-- Best Sale Area -->
<section class="best-seel-area pt--80 pb--60">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section__title text-center pb--50">
                    <h2 class="title__be--2">Điện Thoại <span class="color--theme">Chính Hãng </span></h2>
                    <p>Một số dòng điện thoại hot nhất hiện nay</p>
                </div>
            </div>
        </div>
    </div>
    <div class="slider center">
        @foreach (var product in Model.Products.Skip(0).Take(7))
        {
            <!-- Single product start -->
            <div class="product product__style--3">
                <div class="product__thumb">
                    <a class="first__img" href="@Url.Action("DetailProduct","Page",new {productId = product.ProductID})"><img src="~/assets/images/product/@product.Images" alt="product image"></a>
                </div>
                <div class="product__content content--center">
                    <div class="action">
                        <div class="actions_inner">
                            <ul class="add_to_links">
                                <li><a class="cart" onclick="addToCart(event, @product.ProductID, @product.ProductName, 1)"><i class="bi bi-shopping-bag4"></i></a></li>
                                <li><a data-toggle="modal" title="Quick View" class="quickview modal-view detail-link" href="#productmodal" onclick="openModal(event, @product.ProductID)"><i class="bi bi-search"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="product__hover--content">
                        <ul class="rating d-flex">
                            <li class="on"><i class="fa fa-star-o"></i></li>
                            <li class="on"><i class="fa fa-star-o"></i></li>
                            <li class="on"><i class="fa fa-star-o"></i></li>
                            <li><i class="fa fa-star-o"></i></li>
                            <li><i class="fa fa-star-o"></i></li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- Single product end -->

        }


    </div>
</section>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script type="text/javascript">
    function filterProducts(categoryId) {
        $.ajax({
            url: '@Url.Action("GetProductsByCategory", "Products")', // Gọi đến Action để lấy sản phẩm theo category
            type: 'GET',
            data: { categoryId: categoryId, page: 1, pageSize: 8 }, // Gửi categoryId và các thông tin phân trang
            success: function (data) {
                $('#productContainer').html(data); // Cập nhật danh sách sản phẩm vào container
            },
            error: function () {
                alert("Đã xảy ra lỗi khi tải sản phẩm.");
            }
        });
    }
</script>
<!-- Best Sale Area Area -->